<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.endlesswhileloop.spotifyremote"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name=".base.SpotifyRemoteApplication"
    android:allowBackup="true"
    android:installLocation="internalOnly"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="spotifyremote" android:host="received_credentials"/>
      </intent-filter>
    </activity>

    <service android:name=".SpotifyRemoteService"/>

    <receiver android:name=".StartupReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <meta-data android:name="com.crashlytics.ApiKey" android:value="baa79dcd32a4d7e4058e1eb337583feb554f9c76"/>
  </application>

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.INTERNET" />

</manifest>
